{% extends "footer1.html" %}
{% load staticfiles %}

{% block body %}
 <section id="featured">

    <!-- sequence slider -->
    <div id="sequence-theme">
      <img class="prev" src="/static/selacao/img/bt-prev.png" alt="Previous">
      <img class="next" src="/static/selacao/img/bt-next.png" alt="Next">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div id="sequence">
              <ul>
                <li class="animate-in">
                  <div class="info letter-container">
                    <h2 class="fade">Cross Check</h2>
                  </div>
                  <h4 class="subtitle">Mei ea persius alienum errem audiam eum id impetus bonorum</h4>
                  <div class="bottomup">
                    <img src="/static/selacao/img/slider/parallax/img-1.png" alt="">
                  </div>
                </li>
                <li class="animate-in">
                  <div class="info letter-container">
                    <h2 class="fade">Plagiarism Detection Tool</h2>
                  </div>
                  <h4 class="subtitle">Lorem ipsum dolor sit amet viris torquatos ad vis invidunt singulis</h4>
                  <div class="lefttop">
                    <img src="/static/selacao/img/slider/parallax/img-2.png" alt="">
                  </div>
                </li>
                <li class="animate-in">
                  <div class="info letter-container">
                    <h2 class="fade">With latest technology</h2>
                  </div>
                  <h4 class="subtitle">His at quod impedit eu zril quando perfecto mel sed eu eros debet.</h4>
                  <div class="righttop">
                    <img src="/static/selacao/img/slider/parallax/img-3.png" alt="">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end sequence slider -->
  </section>
  <!-- end featured -->
  <!-- Section about -->
  <section id="about" class="section">
    <div class="gray-shadow">
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="headline">
            <h3><span>Get Started</span></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="section-intro">
            <p>
              Congue assentior eu vix. Iusto voluptaria vis te. Eos ea quot qualisque, usu an doming graeco vocent. Ei vocent patrioque pri, mea cu soluta accusam platonem. His mentitum laboramus definitionem in.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section about -->
   <footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div class="logo">
                <a class="brand" href="index.html">
                <img src="img/logo.png" alt="">
              </a>
              </div>
              <p>Lorem ipsum dolor sit amet, solet saepe vim an, te vim facer facilis docendi</p>
              <div class="social-links">
                <ul class="social-links">
                  <li><a href="#" title="Twitter"><i class="icon-circled icon-64 icon-twitter"></i></a></li>
                  <li><a href="#" title="Facebook"><i class="icon-circled icon-64 icon-facebook"></i></a></li>
                  <li><a href="#" title="Google plus"><i class="icon-circled icon-64 icon-google-plus"></i></a></li>
                  <li><a href="#" title="Linkedin"><i class="icon-circled icon-64 icon-linkedin"></i></a></li>
                  <li><a href="#" title="Pinterest"><i class="icon-circled icon-64 icon-pinterest"></i></a></li>
                </ul>

              </div>

              <p>
                &copy; CrossCheck - All right reserved
              </p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Selecao
                -->
                <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


{% endblock %}
